<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oncoregistry?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">elsieltc</property>
    <mapping class="onco.domain.Population"/>
    <mapping class="onco.domain.Region"/>
    <mapping class="onco.domain.Localization"/>
    <mapping class="onco.domain.Morbiditysimple2100"/>
    <mapping class="onco.domain.Morbiditysimple"/>
    <mapping class="onco.domain.Morbidityolap"/>
    <mapping class="onco.domain.Sex"/>
    <mapping class="onco.domain.RegionType"/>
    <mapping class="onco.domain.Age"/>
  </session-factory>
</hibernate-configuration>
